.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.coin{
    display: grid;
    margin-top: 30px;
    text-align: center;
     width: 30%;
}
.coin .coin_name img{
    width: 200px;
}
.coin .coin_name .name{
    font-weight: 600;
    font-size: 20px;
    color: rgb(14, 224, 14);
}
.coin .coin_name .des{
    font-size: 20px;
}
.coin .coin_name .id{
    font-weight: 600;
    font-size: 25px;
    text-decoration: underline;
}
.coin .coin_name .data{
    margin-top: 10px;
    margin-left: 120px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 220px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chart{
    width: 70%;
}